<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        table.greyGridTable {
            border: 2px solid #FFFFFF;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }
        table.greyGridTable td, table.greyGridTable th {
            border: 1px solid #FFFFFF;
            padding: 3px 4px;
        }
        table.greyGridTable tbody td {
            font-size: 13px;
        }
        table.greyGridTable td:nth-child(even) {
            background: #EBEBEB;
        }
        table.greyGridTable thead {
            background: #FFFFFF;
            border-bottom: 4px solid #333333;
        }
        table.greyGridTable thead th {
            font-size: 15px;
            font-weight: bold;
            color: #333333;
            text-align: center;
            border-left: 2px solid #333333;
        }
        table.greyGridTable thead th:first-child {
            border-left: none;
        }

        table.greyGridTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            border-top: 4px solid #333333;
        }
        table.greyGridTable tfoot td {
            font-size: 14px;
        }


    </style>
</head>
<body>
<table class="greyGridTable">
    <thead>
    <tr>
        <th>Creator</th>
        <th>Item</th>
        <th>Price</th>

    </tr>
    </thead>
    <tfoot>
    <tr >
        <td></td>
        <td></td>
        <td>Total price:</td>
        <td th:text="${#aggregates.sum(Order.![price])}"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr th:each="order : ${Order}">
        <td th:text="${order.creator}"></td>
        <td th:text="${order.item}"></tdth:text></td>
        <td th:text="${order.price}"></tdth:text></td>

    </tr>

    </tbody>
</table>

</body>
</html>