<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurant list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<meta http-equiv="Refresh"  content="2" >-->
</head>
<body>


<h2>GROUP ORDERS LIST</h2>
<table id = "groupList" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Item</th>
        <th>Price</th>

    </tr>
    </thead>
    <tbody>
    <div id="table">
    <tr th:each="order : ${itemsList}"   >


            <td th:text="${order.creator}">Restaurant</td>
            <td th:text="${order.item}">Phone</td>
            <td th:text="${order.price}"  >Menu url</td>






    </tr>
    <tr>
        <td></td>
        <td></td>
        <td class="text-right" th:text="'TOTAL PRICE :' + ${totalPrice} "  > </td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <!--<td th:text="${totalPrice}" class="text-right "  ></td>-->

    </tr>

    </tbody>
    </div>
</table>
<!--<label th:text="${orderTime}"></label>-->
<!--<script>-->
    <!--$(document).ready(function() {-->

        <!--// DO GET-->
        <!--$.ajax({-->
            <!--type : "GET",-->
            <!--url : "api/all/" + "[[${id}]]",-->
            <!--success: function(result){-->
                <!--$.each(result, function(i, group){-->
                        <!--$('#customerTable tbody').empty();-->
                    <!--var customerRow = '<tr>' +-->
                        <!--'<td>' + group.id + '</td>' +-->
                        <!--'<td>' + group.creator + '</td>' +-->
                        <!--'<td>' + group.endTime.toLocaleString() + '</td>' +-->
                        <!--'<td>' + group.restaurant.name + '</td>' +-->

                        <!--'</tr>';-->

                    <!--$('#customerTable tbody').append(customerRow);-->

                <!--});-->


            <!--},-->
            <!--error : function(e) {-->
                <!--alert("ERROR: error ", e);-->
                <!--console.log("ERROR: ", e);-->
            <!--}-->
        <!--});});-->

<!--</script>-->
<script>
    $(document).ready(setInterval( function () {
        // var id = $("#orderID").val();
        var price=0;
        $('#groupList').load("/itemsList/" + "[[${id}]]"  + " #groupList");

    }, 2000));

</script>
</body>
</html>
<!--th:if="${group.getCreateTime().after(#temporals.createNow())}"-->
<!--<td > <a type="button" class="btn btn-primary" th:href="@{'/anonymous/grouporder/' + ${group.getGroup_id()}}">ADD ORDER</a></td>-->
