<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Users list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>EMAIL</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:utext=${user.id}>id</td>
        <td th:utext=${user.firstName}>Ime</td>
        <td th:utext=${user.lastName}>Prezime</td>
        <td th:utext=${user.email}>Email</td>
        <!--<td th:each="role : ${user.role}" th:utext=${role.rola}>-->
            <!--&lt;!&ndash;<select >&ndash;&gt;-->
                <!--<option th:each="role : ${user.getRole()}" th:value="${role}" th:text="${role.rola}"-->
            <!--</select>-->

        </td>
        <!--<td>-->
            <!--<a type="button" th:href="@{'/admin/changeRole/'+${user.email}}">CHANGE ROLE</a>-->

        <!--</td>-->

    </tr>
    </tbody>
</table>

</body>
</html>